#users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.person{
    border: solid gray;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1%;
}
.title{
    text-align: center;
    font-size: 50px;
}
.add_customer{
    margin: 2% 0;
    padding: 12px 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: greenyellow;
    cursor: pointer;
}